-var i = 0;
-if(!rooms){rooms=[{replies:145,stars:5, images:['./styles/img/roomcard_image-888.png','./styles/img/roomcard_image-980.png'],number:888,bedrooms:2,beds:2,price:9990,bathrooms:1, children:0,babies:0,smoking:true,friends:true, pets:true,wide_coridor:true,disabled_assistant:false,luxe:true}]}
mixin slider(images)
    div(class="roomcard__slider")
        a.roomcard__images(href='order?'+link + '&RoomId='+rooms[i].number style=`width:${images.length*100}%`)
            each image in images
                div(class="roomcard__image" style=`background: url(/styles/img/${image}) no-repeat; width:${100/images.length}%; `)
        div(class = "roomcard__pagination")
            each image in images
                div.roomcard__paginationButton
while i<rooms.length
    div(class = "rooms__show")
        -var k = 0;
        while (k< 12) && (i<rooms.length)
            -let n = 0;
            div(class = "cards roomcard cards_theme_room"  id = rooms[i].number)
                +slider(rooms[i].images)
                div(class="roomcard__description")
                    div(class="roomcard__textDiv")
                        p(class="roomcard__roomnumber") №
                            span(class="roomcard__number")=rooms[i].number
                        p(class="roomcard__text")
                            span(class="roomcard__number")=rooms[i].price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") + "Р "
                            | в сутки
                    div(class="roomcard__rating")
                        div(class="roomcard__stars")                
                            while n< rooms[i].stars
                                i(class ="material-icons md-24") star 
                                  -n++;
                            while n< 5
                                i(class="material-icons md-24") star_border
                                -n++;
                        p(class="roomcard__reply")
                            span(class="roomcard__number")=rooms[i].replies + " "
                            | Отзывов
                -i++;
                -k++;