-var i = 0;
-if(!correct){correct=[{replies:145,stars:5, images:['./styles/img/roomcard_image-888.png','./styles/img/roomcard_image-980.png'],number:888,bedrooms:2,beds:2,price:9990,bathrooms:1, children:0,babies:0,smoking:true,friends:true, pets:true,wide_coridor:true,disabled_assistant:false,luxe:true}]}

while i<correct.length
    div(class = "rooms__show")
        -var k = 0;
        while (k< 12) && (i<correct.length)
            -let n = 0;
            a(href='order?'+link + '&RoomId='+correct[i].number)
                div(class = "cards roomcard cards_theme_room"  id = correct[i].number)
                    div(class="roomcard__slider")
                        div(class = "roomcard__images" style=`width:${correct[i].images.length*100}%`)
                            div(class="roomcard__image" style=`background: url(${correct[i].images[0]}) no-repeat; width:${100/correct[i].images.length}%; `)
                            div(class="roomcard__image" style=`background: url(${correct[i].images[0]}) no-repeat; width:${100/correct[i].images.length}%;`)
                    div(class="roomcard__description")
                        div(class="roomcard__textDiv")
                            p(class="roomcard__roomnumber") №
                                span(class="roomcard__number")=correct[i].number
                            p(class="roomcard__text")
                                span(class="roomcard__number")=correct[i].price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") + "Р "
                                | в сутки
                        div(class="roomcard__rating")
                            div(class="roomcard__stars")                
                                while n< correct[i].stars
                                    i(class ="material-icons md-24") star 
                                    -n++;
                                while n< 5
                                    i(class="material-icons md-24") star_border
                                    -n++;
                            p(class="roomcard__reply")
                                span(class="roomcard__number")=correct[i].replies + " "
                                | Отзывов
                -i++;
                -k++;