mixin checkbox(name,text,check)
    label(class="checkboxes__label" for=name)
        input(name=name class="checkboxes__input" check value = "true" checked = check type="checkbox" id=name)
        label(class="checkboxes__checkbox" for=name)
        if block
            block
        else
            p(class="checkboxes__text")=text
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge") 
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap' rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans&display=swap' rel="stylesheet")
        link(href="./styles/app.css" rel="stylesheet")
        link(rel="stylesheet" type ="text/css" href="./styles/search.min.css")
        link(rel="stylesheet" type ="text/css" href="./styles/lightpick.css")
        title Search
    body
        include ../blocks/develop/header/header.pug
        main(class="main_theme-search")
            form(action = "search" method= "POST")
                div(class="filters filters_theme-search")
                    label(class="cards__input datepicker_theme-single datepicker__label" for="datepicker_single")
                        input( name = "dateRange" id="datepicker_single" type="text" class="cards__date-input" data-multiple-dates-separator=" - " readonly value=(DateFrom + ' - '+DateTo)  placeholder='ДД.ММ.ГГГГ')
                        p(class="cards__input-heading") даты пребывания в отеле
                        i(class='cards__material-icons material-icons md-24 dropdown__expand') expand_more
                    include ../blocks/develop/dropdown/guestsDropdown.pug
                    include ../blocks/develop/range/range.pug
                    div(class="checkboxes" )
                        p(class="cards__input-heading") Checkbox Buttons
                        +checkbox("smoking","Можно курить",smoking)
                        +checkbox("pets","Можно с питомцами",pets)
                        +checkbox("friends","Можно пригласить гостей (до 10 человек)",friends)
                    div(class="checkboxes")
                        p(class="cards__input-heading") доступность
                        +checkbox("wide_coridor","Широкий коридор",wide_coridor)
                            div(class="checkboxes__text-with-description")
                                p(class="checkboxes__text checkboxes__text_theme-bold") Широкий коридор
                                p(class="checkboxes__text") Ширина коридоров в номере не менее 91 см.
                        +checkbox("disabled_assistant","Помощник для инвалидов",disabled_assistant)
                            div(class="checkboxes__text-with-description")
                                p(class="checkboxes__text checkboxes__text_theme-bold") Помощник для инвалидов
                                p(class="checkboxes__text") На 1 этаже вас встретит специалист  и проводит до номера.
                    include ../blocks/develop/dropdown/facilitiesDropdown.pug
                    button(type="submit" id = "search" class="cards__button cards__button_theme_filled")
                        p Найти
                        i(class="cards__material-icons material-icons md-24") arrow_forward
                //div(class="checkboxes checkboxes__dropdown")
                    label(class="checkboxes__label" for="breakfast")
                        input( name="breakfast" class="checkboxes__input" type="checkbox" id="smoking")
                        label(class="checkboxes__checkbox" for="breakfast")
                        p(class="checkboxes__text") Завтрак
                    label(class="checkboxes__label" for="smoking")
                        input( name="smoking" class="checkboxes__input" type="checkbox" id="smoking")
                        label(class="checkboxes__checkbox" for="smoking")
                        p(class="checkboxes__text") Можно курить
                    label(class="checkboxes__label" for="smoking")
                        input( name="smoking" class="checkboxes__input" type="checkbox" id="smoking")
                        label(class="checkboxes__checkbox" for="smoking")
                        p(class="checkboxes__text") Можно курить
                    label(class="checkboxes__label" for="smoking")
                        input( name="smoking" class="checkboxes__input" type="checkbox" id="smoking")
                        label(class="checkboxes__checkbox" for="smoking")
                        p(class="checkboxes__text") Можно курить
                    label(class="checkboxes__label" for="smoking")
                        input( name="smoking" class="checkboxes__input" type="checkbox" id="smoking")
                        label(class="checkboxes__checkbox" for="smoking")
                        p(class="checkboxes__text") Можно курить
                    label(class="checkboxes__label" for="smoking")
                        input( name="smoking" class="checkboxes__input" type="checkbox" id="smoking")
                        label(class="checkboxes__checkbox" for="smoking")
                        p(class="checkboxes__text") Можно курить
                    label(class="checkboxes__label" for="smoking")
                        input( name="smoking" class="checkboxes__input" type="checkbox" id="smoking")
                        label(class="checkboxes__checkbox" for="smoking")
                        p(class="checkboxes__text") Можно курить
                    label(class="checkboxes__label" for="smoking")
                        input( name="smoking" class="checkboxes__input" type="checkbox" id="smoking")
                        label(class="checkboxes__checkbox" for="smoking")
                        p(class="checkboxes__text") Можно курить
            div(class="rooms")
                h2.cards__heading Номера, которые мы для вас подобрали
                div(class = "roomсards")
                    include ../blocks/develop/roomcard/roomcard.pug
        include ../blocks/develop/footer/footer.pug    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js")
    script(src="./scripts/lightpick.js")
    script(src="./scripts/nouislider.js")
    script(src="./scripts/search.min.js")
